.track-list-album-title {
  line-height: 3rem;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  color: #A4C7C6;
  font-size: 2.1rem;
}

.image-block {
  flex: 1 1 200px;
}
.image-block img {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.track-representation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.track-description {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-left: 14px;
  color: #fff;
}
.track-description div {
  text-align: center;
}
.track-description div:last-child {
  color: rgb(255, 217, 0);
}
.track-description p {
  margin: 0px;
}

.like-track-list-button {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.track-info {
  height: 56px;
  background-color: rgba(51, 55, 59, 0.3058823529);
  padding: 17px;
  border-radius: 20px;
  margin: 12px 0;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.track-item {
  display: flex;
}

.image-button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75px;
}

.button-toolbar .btn {
  margin-right: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.back-button-container {
  text-align: center;
}

.like-icon {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}

.content-block {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: start;
}

.no-tracks {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.current {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.current-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  background-color: #f0f0f0;
  flex-basis: 50px;
  flex-shrink: 0;
}

.current-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 115px;
  background-color: rgba(29, 33, 35, 0.5019607843);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.current-info__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-info__track {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 2px;
}

.current-track-info {
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.current-track-info p {
  color: #828282;
  font-size: 1em;
}

.current-info__group {
  font-weight: 600;
  font-size: 1em;
  line-height: 6px;
}

.current-info__year {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #dbf2db;
}

.controls {
  margin-top: auto;
  flex: 1 1 200px;
}

.controls .icon-arrow {
  fill: #ff874a;
}

.controls .icon-pause {
  fill: none;
  stroke: #ff874a;
  display: none;
  width: 40px;
  height: 40px;
}

.controls .icon-play {
  fill: #ff874a;
  display: block;
  width: 40px;
  height: 40px;
}

.controls svg {
  cursor: pointer;
}

.controls svg:not(.icon-pause):hover {
  fill: #ffba97;
}

.controls svg:not(.icon-pause):active {
  fill: #fd5500;
}

.controls-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  -moz-column-gap: 45px;
       column-gap: 45px;
}

.controls-button {
  cursor: pointer;
}

.controls-button svg {
  width: 27px;
  height: 27px;
}

.controls-button.playing .icon-pause {
  display: block;
}

.controls-button.playing .icon-play {
  display: none;
}

.controls-play {
  padding: 3px;
  background-color: rgb(255, 217, 0);
  border-radius: 50%;
}

.controls-next, .controls-prev {
  background-color: rgba(0, 0, 0, 0);
}

.current-info__titles {
  flex: 0;
  display: flex;
}

.controls-progress {
  margin-top: 35px;
}

.progress {
  width: 100%;
  height: 2px;
  position: relative;
  background: #828282;
  border-radius: 12px;
  overflow: hidden;
}

.progress-current {
  width: 0%;
  background: rgb(255, 217, 0);
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.timeline {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timeline span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
}