.player {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
}

.current-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 115px;
  background-color: rgba(29, 33, 35, 0.5019607843);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.current-info__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-info__titles {
  flex: 0;
  display: flex;
}

.current-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  background-color: #f0f0f0;
  flex-basis: 50px;
  flex-shrink: 0;
}

.current-track-info {
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.current-track-info p {
  color: #828282;
  font-size: 1em;
}

.current-info__group {
  font-weight: 600;
  font-size: 1em;
  line-height: 6px;
}

.controls {
  margin-top: auto;
  flex: 1 1 200px;
}

.controls-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  -moz-column-gap: 45px;
       column-gap: 45px;
}

.controls-button {
  cursor: pointer;
}

.controls-play {
  padding: 3px;
  background-color: rgb(255, 217, 0);
  border-radius: 50%;
}

.controls-next, .controls-prev {
  background-color: rgba(0, 0, 0, 0);
}

.controls-progress {
  margin-top: 35px;
}

.progress {
  width: 100%;
  height: 2px;
  position: relative;
  background: #828282;
  border-radius: 12px;
  overflow: hidden;
}

.progress-current {
  width: 0%;
  background: rgb(255, 217, 0);
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.timeline {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.timeline span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.bi.fs-1 {
  font-size: 1rem;
}
.bi.fs-3 {
  font-size: 1.75rem;
}