
@import '../mainVars';


.choise-button{
    margin-left: auto;
    width: 20px;
    height: 20px;
    padding: 0;
    border: solid 1px $mainYellow;
    border-radius: 50%;
    background-color: $barColor;

}
.choise{
    position: absolute;
    right: 10px;
    top: -100px;
    width: 200px;
    height: 100px;
    padding: 25px;
    background-color: $mainBackgroundColor;
    border: 1px solid $mainYellow;
    text-align: left;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 0.3s;
    overflow-x:hidden;
    overflow-y: scroll;

    &.active{
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }
}
.choise__list{
    margin: 0;
    width: 100%;
    padding: 0;
    list-style-type: none;
    
    .choise__item{
        cursor: pointer;
        color: $accompanyingGrey;

        &:nth-child(n+2){
            margin-top: 15px;
        }
        &:hover{
            color: $mainYellow;
        }
    }
}




