.choise-button {
  margin-left: auto;
  width: 20px;
  height: 20px;
  padding: 0;
  border: solid 1px rgb(255, 217, 0);
  border-radius: 50%;
  background-color: rgba(51, 55, 59, 0.3058823529);
}

.choise {
  position: absolute;
  right: 10px;
  top: -100px;
  width: 200px;
  height: 100px;
  padding: 25px;
  background-color: #1D2123;
  border: 1px solid rgb(255, 217, 0);
  text-align: left;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 0.3s;
  overflow-x: hidden;
  overflow-y: scroll;
}
.choise.active {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.choise__list {
  margin: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.choise__list .choise__item {
  cursor: pointer;
  color: #828282;
}
.choise__list .choise__item:nth-child(n+2) {
  margin-top: 15px;
}
.choise__list .choise__item:hover {
  color: rgb(255, 217, 0);
}