.track-list-album-title {
  line-height: 3rem;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  color: #A4C7C6;
  font-size: 2.1rem;
}

.image-block {
  flex: 1 1 200px;
}
.image-block img {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.track-representation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.track-description {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-left: 14px;
  color: #fff;
}
.track-description div {
  text-align: center;
}
.track-description div:last-child {
  color: rgb(255, 217, 0);
}
.track-description p {
  margin: 0px;
}

.like-track-list-button {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.track-info {
  height: 56px;
  background-color: rgba(51, 55, 59, 0.3058823529);
  padding: 17px;
  border-radius: 20px;
  margin: 12px 0;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.track-item {
  display: flex;
}

.image-button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75px;
}

.button-toolbar .btn {
  margin-right: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.back-button-container {
  text-align: center;
}

.like-icon {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}

.content-block {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: start;
}

.no-tracks {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}