*{
    color: white;
    padding:0;
    margin:0;
}

.reg-enter-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    padding-top: 43px;
    
}

.reg-enter-block{
    width: 500px;
    height: 500px;
    background-color: #33373B;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.reg-enter-block h2{
    font-size: 36px;
}

.reg-enter-form input{
    padding: 15px;
    border-radius: 16px;
    border: none;
    outline: none;
    background-color: #383838;
}

.reg-enter-form button{
    padding: 15px;
    border-radius: 16px;
    background-color: #252525;
}

.reg-enter-form button:disabled{
    cursor: not-allowed;
    background-color: #5e5e5e;
    color: #464646;
}



p{
    text-align: left;
}

.form-left-line{
    color: #A6A6A6;
    font-size: 16px;
}
#reg-title{
    line-height: 2;
    letter-spacing: 0.1rem;
    font-weight: 900;
}
